.Outer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background: url(../../images/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 50px 0 0;
}

.OuterContent {
    height: 100%;
    width: 100%;
    background:  rgba(255,255,255,0.1);
   
}

.Inner {
    display: flex;
    background:  rgba(255,255,255,0.1);
}