.OuterBkgImage {
    height: 100vh;
    width: 100%;
    display: inline-flex;
    padding-bottom: -60px;
    padding-top: 50px;
    background-image: url('../../images/background.jpg');
    background-size: cover;
}

.OuterDetroit1 {
    height: 100vh;
    width: 100%;
    display: inline-flex;
    padding-bottom: -60px;
    padding-top: 50px;
    background-image: url('../../images/detroit.jpg');
    background-size: cover;
}

.OuterDetroit2 {
    height: 100vh;
    width: 100%;
    display: inline-flex;
    padding-bottom: -60px;
    padding-top: 50px;
    background-image: url('../../images/detroit2.jpg');
    background-size: cover;
}