.ReactModule {
    width: 500px;
    margin: 15px 0  75px 15px;
    color: black;
}

.ReactModule a {
    text-decoration: none;
    color: black;
}

.ReactContent p {
    padding: 5px;
}

.ReactContent span {
    color: black;
    text-align: center;
    font-size: 18pt;
}

.ReactContent {
    width: 475px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.ReactContent img{
    padding: 5px;
}